@charset "utf-8";
*{
  margin:0px;
  padding:0px;
  text-decoration:none;
  box-sizing:border-box;
  font-size:.14rem;
  font-style:normal;
  font-weight:normal;
  font-family:"黑体";
}
ul,li{
  list-style:none;
}
html{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    font-size:625%;
}
img,div,body,html,ul,li,a{
 -webkit-touch-callout: none;
 }
 input,button{
 outline:0;

 }
 button{
 cursor:pointer;
 }
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
    color: #ccc;}
html,body,.wrap{
    height:100%;
    width:100%;
}
.wrap{
    display:flex;
    flex-direction: column;
}
header{
    height:.5rem;
    display:flex;
    line-height:.5rem;
    justify-content: space-between;
    background:rgba(0,0,0,.7);
    color:#fff;
}
section{
    flex:1;
    background:#ccc;
}
section div{
    background:#fff;
    height:80%;
    width:80%;
    margin:10% auto;
}
section div p{
    height:30px;
    line-height:30px;
    margin:10%;
}
section div button{
    background: green;
    color:#fff;
    padding:0 10px;
    border:none;
}